.lead__title{
	font-weight: 900;
	font-size: 96px;
	line-height: 104%;

	text-align: center;
	margin: 0 auto;
	width: 720px;
}

@media all and (max-width: 767px){
	.lead__title{
		width: 288px;
		font-size: 40px;
		line-height: 44px;
		/* or 110% */
	}
}